* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif; 
background-image: url('./Images/discord.jpg');
 height: 500px;
  background-position: center;
  background-size: cover;
}


/* Style the header */
header { 
  padding: 40px;
  text-align: center;
  font-size: 100px;
  color: #1ABC9C;
}

nav {

    float: left;
    width: 20%;
    height: 600px; /* only for demonstration, should be removed */
    background: Grey;
    padding: 50px;
  }
nav ul {
    list-style-type: none;
    padding: 0;
  } 
  ul{
    font-size: large;
	margin: 4px 2px; 
	color: black; 
}
  ul li a{
    background-color: red; 
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: left;
  text-decoration: none;
  display: none;
  font-size: 16px;
  
  transition-duration: 0.4s;
  cursor: pointer;
   background-color: Grey; 
 
  border: 2px solid black;
} 
ul li a:hover{
    background-color: #0A305A;
  color: white;
}
{
    box-sizing: border-box;
  }


article {
  float: left;
  padding: 40px;
  width: 80%;

  /* height: 300px;  only for demonstration, should be removed */
}
p{
 	color: white;
  font-size: 25px;
  padding: 20px;
}
/* Clear floats after the columns */
section:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the footer */
footer {
  background-color: #777;
  padding: 0px;
  text-align: center;
  color: white;
 
}

/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 600px) {
  nav, article {
    width: 100%;
    height: auto;
  }
}
* {
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}